{% extends 'base.html' %}
{% load staticfiles %}
{% block html_title %}歌手详情{% endblock %}

{% block headpic %}
    <link rel="icon" href="{% static 'images/1.png' %}">{% endblock %}
{% block loadcss %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/singer_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/qb-ie-remind.css' %}">
{% endblock %}

{% block header-sub %}
    <ul class="header-subNav">
        <li><a href="{% url 'demo:index' %}">首页</a></li>
        <li><a href="/singers">歌手</a></li>
        <li><a href="/songsrank">排行榜</a></li>
        <li><a href="/songslist">歌单</a></li>
    </ul>
{% endblock %}

{% block center %}
    <div class="main">
        <div class="mod_data">
            <span class="data__cover">
                <a class="js_goto_tab js_none_index" data-stat="y_new.singer.thistab.singer_pic" data-tab="index"
                   href="" style="display:none;"><img
                        src="{{ coverimage }}"
                        alt="{{ singer }}" class="data__photo"></a>
		<img src="{{ coverimage }}"
             alt="{{ singer }}" class="data__photo js_index">
            </span>
            <div class="data__cont">
                <div class="data__name">
                    <h1 class="data__name_txt js_none_index" style="display:none;"><a class="js_goto_tab"
                                                                                      data-stat="y_new.singer.thistab.singer_name"
                                                                                      title="{{ singer }}" data-tab="index"
                                                                                      href="">{{ singer }}</a>
                    </h1>
                    <h1 class="data__name_txt js_index" title="{{ singer }}"> {{ singer }}</h1>
                </div>

                <div class="data__desc" id="singer_desc">
                    <div class="data__desc_txt" id="short_desc">

                        <a href="https://baike.baidu.com/item/{{ singer }}" target="_blank">歌手详情</a>

                    </div>
                    <a href="javascript:;" class="js_desc" data-left="0" data-stat="y_new.singer.header.more_info"
                       data-top="0" data-target="popup_data_detail" style="">    </a>
                </div>

                <ul class="mod_data_statistic">

                    <li class="data_statistic__item data_statistic__item--last">
                        <span class="data_statistic__tit">单曲</span><strong class="data_statistic__number">{{ songs_num }}</strong>
                    </li>
                </ul>

                <div class="data__actions" role="toolbar">

                    <a href="javascript:;" class="mod_btn_green js_singer_radio"><i
                            class="mod_btn_green__icon_play"></i>播放歌曲</a>
                    <a href="javascript:;" class="mod_btn js_follow"><i class="mod_btn__icon_more" data-status="0"></i>关注
                        </a>

                </div>
            </div>
        </div>
        <div class="js_tab" id="index_tab">

            <div class="mod_part">
                <div class="part__hd">
                    <h2 class="part__tit">热门歌曲</h2>
                </div>

                <div class="mod_songlist">
                    <ul class="songlist__header">
                        <li class="songlist__edit songlist__edit--check sprite">
                            <input type="checkbox" class="songlist__checkbox">
                        </li>
                        <li class="songlist__header_name">歌曲</li>
                        <li class="songlist__header_album">专辑</li>
                        <li class="songlist__header_time">时长</li>
                    </ul>

                    <audio id="audio" src=""></audio>

                    <ul class="songlist__list">
                        {% for song_info in songslist %}
                                                <li mid="{{ song_info.1 }}" ix="{{ forloop.counter }}">
                            <div class="songlist__item"
                                 onmouseover="this.className=(this.className+' songlist__item--hover')"
                                 onmouseout="this.className=this.className.replace(/ songlist__item--hover/, '')">
                                <div class="songlist__edit songlist__edit--check sprite">
                                    <input type="checkbox" class="songlist__checkbox">
                                </div>

                                <div class="songlist__number">{{ forloop.counter }}</div>
                                <div class="songlist__songname">
                                        {{ song_info.1 }}
                                    <div class="mod_list_menu">
                                        <a href="javascript:;" class="list_menu__item list_menu__play js_play" title="播放">
                                            <i class="list_menu__icon_play" sonN="{{ song_info.0 }}"></i>
                                            <span class="icon_txt">播放</span>
                                        </a>
                                        <a href="javascript:;" class="list_menu__item list_menu__down js_down" title="下载" download="{{ song_info.1 }}.mp3" id="{{ song_info.0 }}">
                                            <i class="list_menu__icon_down" sonN="{{ song_info.0 }}"></i>
                                            <span class="icon_txt">下载</span>
			                            </a>
                                    </div>
                                </div>
                                <div class="songlist__album">
                                    {{ song_info.2 }}
                                </div>
                                <div class="songlist__time">{{ song_info.3 }}</div>
                                <div class="songlist__other">
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static 'songlist/js/jquery-1.10.2.js' %}"></script>
    <script>
        	$(".list_menu__icon_play").click(function(){
            /*开始放歌*/
            var sid=$(this).attr("sonN");
            songIndex=sid;
            $("#audio").attr("src",'http://music.163.com/song/media/outer/url?id='+ songIndex +'.mp3');	// 获得歌曲资源
            audio=document.getElementById("audio");//获得音频元素
            audio.play();
            });
            $(".list_menu__icon_down").click(function(){
                var index = $(this).attr('sonN');
                var that=$('.mod_list_menu').find('a[id^=' + index + ']');
                that.attr("href", 'http://music.163.com/song/media/outer/url?id='+ index +'.mp3');
                that.click();
                        });
            $(".js_singer_radio").click(function () {
                var song = $(".list_menu__icon_play");
                var x = $(".data_statistic__number").text();
                var y = -1;
                var rand = parseInt(Math.random() * (x - y + 1) + y);
                song[rand].click();
            });
    </script>
{% endblock %}
